.file-input-mask {
  position: relative;
  width: 100%; /* Set the width to 100% to cover the image */
  height: 100%; /* Set the height to 100% to cover the image */
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.file-input:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px) {
  .flex-row {
    flex-direction: row;
  }
}
