:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid #818181;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}


input {
  border: 1px solid #d9d9d9;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  transition: border-color 0.25s;
}

@media screen and (max-width: 600px) {
  * {
    font-size: small;
  }
}

.headerbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  padding: 0 20px;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  border: 0;
  box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
  background-color: hsl(210deg 100% 44%);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.salebutton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  padding: 0 20px;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  border: 0;
  box-shadow: hsl(257, 39%, 37%) 0px 7px 0px 0px;
  background-color: hsl(264, 100%, 44%);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.dealbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  padding: 0 20px;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  border: 0;
  box-shadow: hsl(210, 77%, 59%) 0px 7px 0px 0px;
  background-color: hsl(208, 73%, 72%);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.altbutton {
  border: 1px solid #315cfd;
  border-radius: 10px;
  transition: all 0.3s;
  box-shadow: #315cfd 0px 2px 0px 0px;
  cursor: pointer;
  background: white;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
}

.deletebutton {
  border: 1px solid #ec2917;
  border-radius: 10px;
  transition: all 0.3s;
  box-shadow: #ec2917 0px 2px 0px 0px;
  cursor: pointer;
  background: white;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
}

.salebutton:hover,
.dealbutton:hover,
.headerbutton:hover {
  transform: scale(1.05);
}

.lgbutton {
  border: 1px solid #315cfd;
  border-radius: 15px;
  transition: all 0.3s;
  box-shadow: #315cfd 1px 3px 1px 1px;
  cursor: pointer;
  background: white;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}

.altbutton:hover,
.lgbutton:hover {
  background: #315cfd;
  border-color: white;
  color: white;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-image: linear-gradient(to left, #4816d2, #5382e1);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out;
}

.logoicon {
  transition: transform 0.3s ease-in-out;
}

.logoicon:hover {
  transform: scale(1.05);
}

.price {
  font-size: 2rem;
  font-weight: 600;
  background-image: linear-gradient(to left, #4816d2, #5382e1);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.paybutton {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.paybutton::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: 0.3s;
  mix-blend-mode: difference;
}

.paybutton:hover::before {
  transition-duration: 0.3s;
  transform: translate(100%, -50%);
  border-radius: 0;
}

.paybutton:active {
  transform: translate(5px, 5px);
  transition-duration: 0.3s;
}

.dispdiv {
  transition: background-color 0.3s ease-in-out;
  background-color: #bae6fd;
}

.dispdiv:hover {
  background-color: #f0f9ff;
}

.wobbleting[wobble='1'] {
  animation: wobble 1s 1;

}

@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}